<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Task 2</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css" type="text/css">
    </head>
    <body>
        <header>
            <nav class="headerNav clearfix">
                <img src="header_pic.png" alt="200x70" width="200" height="70">
                <ul class="navMenu">
                    <li><a class="active" href="">Home</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">Solutions</a></li>
                    <li><a href="">Support</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <section class="clearfix">
            <nav class="classicNav">
                <ul class="navMenu">
                    <li><a href="">Home</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">Solutions</a></li>
                    <li><a href="">Support</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </nav>
            <section class="mainPage">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Praesent placerat sit amet mi nec interdum.
                    Phasellus vulputate rutrum egestas. 
                    Fusce mattis molestie ante quis lacinia. 
                    Integer tincidunt sapien non vehicula commodo. 
                    Integer dapibus lorem sit amet ex tincidunt, 
                    nec fringilla elit varius. Maecenas dictum nibh quis pharetra malesuada. 
                    Mauris lacinia pulvinar diam nec tristique. 
                    Cum sociis natoque penatibus et magnis dis parturient montes, 
                    nascetur ridiculus mus. Nam sit amet neque bibendum dui lobortis mollis vel et est. 
                    Nullam iaculis risus at tincidunt facilisis. Ut lobortis auctor ante et fermentum.
                    Integer dignissim interdum sapien nec tincidunt. 
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    Vestibulum placerat, libero ut egestas varius, 
                    lectus augue congue sem, ac semper sem nisl eu justo. 
                    Sed pulvinar pellentesque iaculis.
                </p>
                <table class="main-table" width="100%" border="1" cellpadding="0" cellspacing="0" align="top">
                    <thead>
                        <tr>
                            <th rowspan="2">id</th>
                            <th rowspan="2">Name</th>
                            <th colspan="2">Price</th>
                        </tr>
                        <tr>
                            <th>NET</th>
                            <th>GROSS</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>1</td>
                        <td>The quick, brown fox jumps over a lazy dog</td>
                        <td>12</td>
                        <td>13</td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>The quick, brown fox jumps over a lazy dog</td>
                        <td>156</td>
                        <td>267</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>The quick, brown fox jumps over a lazy dog</td>
                        <td>34</td>
                        <td>98</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>The quick, brown fox jumps over a lazy dog</td>
                        <td>1346</td>
                        <td>1098</td>
                    </tr>
                </table>
                <p>В середине 1990-х годов основные производители браузеров &mdash; компании 
                    <a href="http://isp.netscape.com">Netcape</a> и <a href="http://microsoft.com">Microsoft</a></p>
                <ul class="list">
                    <li class="chromeLi">Chrome</li>
                    <li class="firefoxLi">Firefox</li>
                    <li class="IELi">Internet Explorer</li>
                    <ul class="non-circle-list">
                        <li class="IE8Li">IE 8</li>
                        <li class="IE10Li">IE 10</li>
                        <li class="EdgeLi">Edge</li>
                    </ul>
                    <li class="anotherLi">.. другие</li>
                </ul>
            </section>
        </section>
        <footer>
            <nav class="footerNav">
                <ul class="navMenu">
                    <li><a class="active" href="">Home</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">Solutions</a></li>
                    <li><a href="">Support</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </nav>
            <p>Copyright &copy; All right reserved</p>
        </footer>
    </body>
</html>
