<!DOCTYPE html>
<html>
	<head>
		<title>Title</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	</head>
	<body>
		<table width="100%" cellspacing="0" cellpadding="0" border="1" bordercolor="#000000">
			<tr>
				<td width="40%" valign="top">
					<table cellspacing="0" cellpadding="5" border="1" bordercolor="#000000"> <!--left bar-->
						<thead>
							<tr>
								<td height="60">
									<table width="100%">
										<tr>
											<td>
												&nbsp;&nbsp;&nbsp;
												updates
											</td>
											<td align="right">
												<form>
													<input type="image" src="D:\WebCourse\solution1\settings-button-picture.png">
												</form>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<img src="D:\WebCourse\solution1\test_pic.jpg" alt="left-test-pic" height="93" width="150" align="left" hspace="5" vspace="5">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non leo quis nisl facilisis laoreet sed non lectus. Curabitur fringilla nunc at est rhoncus tincidunt. Nam id porttitor tortor, elementum varius risus. Aliquam at sagittis massa. Mauris scelerisque mattis ligula. Donec nunc leo, ornare ac efficitur sit amet, finibus vitae.
								</td>
							</tr>
							<tr>
								<td>
									<img src="D:\WebCourse\solution1\test_pic.jpg" alt="left-test-pic" height="93" width="150" align="left" hspace="5" vspace="5">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non leo quis nisl facilisis laoreet sed non lectus. Curabitur fringilla nunc at est rhoncus tincidunt. Nam id porttitor tortor, elementum varius risus. Aliquam at sagittis massa. Mauris scelerisque mattis ligula. Donec nunc leo, ornare ac efficitur sit amet, finibus vitae.
								</td>
							</tr>
							<tr>
								<td>
									<img src="D:\WebCourse\solution1\test_pic.jpg" alt="left-test-pic" height="93" width="150" align="left" hspace="5" vspace="5">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non leo quis nisl facilisis laoreet sed non lectus. Curabitur fringilla nunc at est rhoncus tincidunt. Nam id porttitor tortor, elementum varius risus. Aliquam at sagittis massa. Mauris scelerisque mattis ligula. Donec nunc leo, ornare ac efficitur sit amet, finibus vitae.
								</td>
							</tr>
							<tr>
								<td>
									<img src="D:\WebCourse\solution1\test_pic.jpg" alt="left-test-pic" height="93" width="150" align="left" hspace="5" vspace="5">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non leo quis nisl facilisis laoreet sed non lectus. Curabitur fringilla nunc at est rhoncus tincidunt. Nam id porttitor tortor, elementum varius risus. Aliquam at sagittis massa. Mauris scelerisque mattis ligula. Donec nunc leo, ornare ac efficitur sit amet, finibus vitae.
								</td>
							</tr>
							<tr>
								<td>
									<img src="D:\WebCourse\solution1\test_pic.jpg" alt="left-test-pic" height="93" width="150" align="left" hspace="5" vspace="5">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non leo quis nisl facilisis laoreet sed non lectus. Curabitur fringilla nunc at est rhoncus tincidunt. Nam id porttitor tortor, elementum varius risus. Aliquam at sagittis massa. Mauris scelerisque mattis ligula. Donec nunc leo, ornare ac efficitur sit amet, finibus vitae.
								</td>
							</tr>
						</tbody>
					</table>
				</td>
				<td valign="top">
					<table width="100%" cellspacing="0" cellpadding="0">
						<tr>
							<td>
								<table width="100%" cellspacing="0" cellpadding="0" border="1" bordercolor="#000000" height="60">
									<tr>
										<td align="center">Home</td>
										<td align="center" bgcolor="#E6E6E6">Products</td>
										<td align="center">About</td>
										<td align="center">Contact</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td>
								<table width="100%" border="1" bordercolor="#000000">
									<tr>
										<td width="70%">
											<table width="100%" border="0">
												<tr>
													<td>
														<h3>Heading</h3>
														<p>
														Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus elementum felis ac eros scelerisque, ac faucibus arcu mollis. Etiam mattis dui elementum placerat varius. Suspendisse ut ultrices sem, non iaculis libero. Integer consectetur sapien nec nunc mattis, ut luctus lorem malesuada. Maecenas sed iaculis elit, a congue velit. Nulla cursus ornare metus non eleifend. Praesent viverra mi sed consequat aliquam. Duis non purus varius, ultrices dolor eget, fermentum tortor. Ut ut ipsum non diam bibendum consectetur. Aenean ultrices leo lacus, eu vulputate ante consequat sit amet.
														</p>
														<p>
Donec volutpat libero vel sollicitudin pharetra. Quisque condimentum pretium lacus, sit amet scelerisque orci consectetur sit amet. Etiam facilisis nisi elit, eu laoreet dui rutrum sit amet. Donec sodales, sapien et auctor rutrum, lorem neque pulvinar neque, ut scelerisque lacus orci at arcu. Curabitur eu mi pharetra, molestie odio at, cursus lectus. Aenean pharetra nunc eu turpis tempus consectetur. Proin eu congue magna, nec tempus sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed enim leo, porttitor id auctor eget, pulvinar non arcu. Curabitur at volutpat ipsum. Quisque tortor lectus, cursus sed venenatis vel, auctor a lorem. In laoreet at nibh id molestie. Praesent aliquam euismod dui, eu iaculis lectus lacinia eu. Morbi euismod eget ligula sit amet mattis. Morbi accumsan ornare elit a iaculis.
	</p>
Sed eget tortor nulla. Cras fermentum sapien ac ipsum gravida, vel pellentesque orci faucibus. Quisque elementum id metus et ullamcorper. Nunc et enim at quam consectetur facilisis. Donec tincidunt, quam eu euismod egestas, metus augue consequat ipsum, at volutpat orci ligula eget diam. Sed lacus nibh, bibendum eget augue dictum, sollicitudin commodo massa. Donec metus sem, vehicula quis mattis eget, maximus ac nunc. Vestibulum nisl ex, iaculis id urna at, pellentesque auctor quam. Duis magna dolor, facilisis in dapibus ut, ornare eu nunc. Sed sed metus quam. Phasellus sed risus a velit porttitor gravida. Vestibulum ac dolor a justo ultrices molestie. Curabitur feugiat ornare lacus, sit amet iaculis enim sagittis sed. Nullam consectetur tincidunt velit id laoreet.
													</td>
												</tr>
												<tr>
													<td>
														<img src="D:\WebCourse\solution1\test_pic_size.jpg" alt="left-test-pic" align="left" hspace="10" vspace="5">
														<h3>Heading</h3>
														<p>
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus auctor dolor at nibh bibendum venenatis. Phasellus ut ullamcorper dui, non efficitur libero. Nam urna arcu, imperdiet et suscipit sed, varius quis magna. Proin pharetra neque quis feugiat semper. Proin vehicula condimentum tempus. Ut venenatis molestie eros, in sollicitudin mi euismod ornare. Sed vel arcu sem. Vestibulum sit amet nunc sagittis, auctor elit at, tristique nisl. In condimentum vestibulum lectus, vitae cursus ante volutpat a. Donec massa metus, lobortis sit amet pretium sit amet, rutrum non tellus. Phasellus ac maximus massa. Vestibulum eu porta ipsum.
													</p>
													<p>
Phasellus varius lectus metus, vitae finibus est vulputate a. Etiam quis erat nec lacus sagittis varius. Phasellus in velit mi. Curabitur pulvinar elit ut rutrum porta. Nullam dapibus aliquet velit eu elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur lobortis tortor elit. Praesent viverra finibus velit, eget sagittis mi blandit vitae. Sed.
	</p>
													</td>
												</tr>
											</table>
										</td>
										<td valign="top">
											<table width="100%" border="1">
												<tr>
													<td align="center" height="60" bgcolor="#CCCCCC">
														Item 1
													</td>
												</tr>
												<tr>
													<td align="center" height="60">
														Item 2
													</td>
												</tr>
												<tr>
													<td align="center" height="60" bgcolor="#E6E6E6">
														Item 3
													</td>
												</tr>
												<tr>
													<td align="center" height="60">
														Item 4
													</td>
												</tr>
												<tr>
													<td align="center" height="60" bgcolor="#E6E6E6">
														Item 5
													</td>
												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<form>
											<td width="70%" height="40">
													<input type="text" size="100%" placeholder="E-mail">
											</td>
											<td>
												<input type="image" alt="submit" src="D:\WebCourse\solution1\submit-button-picture.png" width="100%" height="100%">
											</td>
										</form>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>